<h1>@ngui/common Test Page</h1>

<nav class="links">
  <h2>Modules</h2>

  <h3>inview module</h3>
  <ul>
    <li><a routerLink="/inview/ngui-inview">ngui-inview component</a></li>
    <li><a routerLink="/inview/nguiInview">ngui-inview directive</a></li>
  </ul>

  <h3>list module</h3>
  <ul>
    <li><a routerLink="/list/ngui-inview-page">ngui-inview-page component</a></li>
    <li><a routerLink="/list/ngui-list">ngui-list component</a></li>
    <li><a routerLink="/list/ngui-virtual-list">ngui-virtual-list component</a></li>
  </ul>

  <h3>utils module</h3>
  <ul>
    <li><a routerLink="/utils/dynamic-component-service">DynamicComponentService</a></li>
    <li><a routerLink="/utils/ngui-for-in">[nguiForIn] directive</a></li>
    <li><a routerLink="/utils/ngui-highlight">nguiHilight pipe</a></li>
  </ul>
</nav>

<div class="test">
  <router-outlet></router-outlet>
</div>